<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>社区小康</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	
	<div class="header">
		<div class="container-fluid">
			<div class="row">
			  <div class="col-md-4 col-xs-1 remove-padding">
			  	<a href="#"><span>返回</span></a>
			  </div>
			  <div class="col-md-4 col-xs-10 header-center remove-padding">
			  	<h2>我的药品</h2>
			  </div>
			  <div class="col-md-4 col-xs-1"></div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="search">
	<div class="logo">
		<div class="container-fluid">
			<div class="row">
			  <div class="col-md-4 col-xs-3"></div>
			  <div class="col-md-4 col-xs-6 img-center">
			  	<img src="../static/image/logo.png" alt="社区小康" class="change-img">
				<img src="../static/image/word.png" alt="社区小康" class="change-word">
			  </div>
			  <div class="col-md-4 col-xs-3"></div>
			</div>
		</div>
	</div>

	<div class="search-bar">
		<form>
			<div class="container-fluid">
				<div class="row">
				  <div class="col-md-4 col-xs-1"></div>
				  <div class="col-md-4 col-xs-10">
				  	<input type="text" class="form-control fix-width-for-input" placeholder="请输入你要查找的药品">
				  	<a class="btn btn-default btn-search-index" href="#" role="button">搜索</a>
				  </div>
				  <div class="col-md-4 col-xs-1"></div>
				</div>
			</div>
		</form>
	</div>

</div>
	</div>

</body>
</html>