{% extends "base.html" %}

{% block body %}
<div class="container-fluid result-detail-fix">
	<div class="row">
	  <div class="col-md-4 col-xs-12">
	  	<div class="result-detail">
	  		
	  		<div class="detail-rows">
	  			<span class="label">药品</span>
	  			<span class="value">对乙酰氨基酚</span>
	  		</div>

	  		<div class="detail-rows">
	  			<span class="label">功能</span>
	  			<span class="value">多撒大大</span>
	  		</div>

	  		<div class="detail-rows">
	  			<span class="label">药店</span>
	  			<span class="value">15家</span>
	  		</div>

	  		<div class="detail-shop">
	  			<table class="table table-striped remove-table-margin">
				  <tr>
				  	<th class="col-md-3 col-xs-3">药店</th>
				  	<th class="col-md-6 col-xs-6 shop-title">地址</th>
				  	<th class="col-md-3 col-xs-3 shop-title">电话</th>
				  </tr>

				  <tr>
				  	<td class="col-md-3 col-xs-3 shop-list">72分店(广州龙津懂)</td>
				  	<td class="col-md-6 col-xs-6 shop-list shop-title">广州市荔湾区龙津东路891号</td>
				  	<td class="col-md-3 col-xs-3 shop-list shop-title">81840261</td>
				  </tr>

				</table>
	  		</div>

	  	</div>
	  </div>
	</div>
	</div>
{% end %}